@keyframes showCover {
    from {
        top: -100%
    }

    to {
        top: 0;
    }
}

@keyframes hideCover {
    from {
        top: 0;
    }

    to {
        top: -200%;
    }
}

@keyframes rotateArrowDown {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

@keyframes rotateArrowUp {
    from {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes showHintContainer {
    from {
        height: 0;
    }

    to {
        height: 100px
    }
}

@keyframes showHintItem {
    from {
        height: 0;
    }

    to {
        height: 80px
    }
}

@keyframes hideHintContainer {
    from {
        height: 100px;
    }

    to {
        height: 0
    }
}

@keyframes hideHintItem {
    from {
        height: 80px;
    }

    to {
        height: 0
    }
}