@import './mixins';

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background;
    top: -200%;
    left: 0;
}

.cover-active {
    @include coverActive;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 1px solid $screens;
    }

    &__logo-desktop {
        display: none;
    }

    &__form {
        width: 100%;
        text-align: center;
    }
    
    &__search-field {
        padding: 0 30px;
    }

    &__search-logo {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translate(0, -50%);
        width: 22px;
    }

    &__close-button {
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translate(0, -50%);
        width: 18px;
        cursor: pointer;
    }
}

.cover-hidden {
    @include coverHidden;
}

.cover-hidden .additionally__form-link {
    display: none !important;
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &__header {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headliner {
        font: bold 11px 'Lato', sans-serif;
        text-transform: uppercase;
        color: $content;
    }

    &__shape {
        width: 100%;
        height: 1px;
        background: $screens;
        margin-left: 15px;
    }

    &__icons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__icon:not(:first-of-type) {
        margin-left: 30px;
    }

    &__icon-description {
        font: bold 11px 'Lato', sans-serif;
        text-transform: uppercase;
        color: $caption;
        margin-top: 10px;
    }
}

.last {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &__header {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headliner {
        font: bold 11px 'Lato', sans-serif;
        text-transform: uppercase;
        color: $content;
    }

    &__shape {
        width: 100%;
        height: 1px;
        background: $screens;
        margin-left: 15px;
    }

    &__requests {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__request {
        font: bold 11px 'Lato', sans-serif;
        display: block;
        overflow: auto;
        width: 100%;
        text-transform: uppercase;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    &__request:not(:last-of-type) {
        margin-bottom: 25px;
    }

    &__request:first-of-type {
        margin-top: 25px;
    }
}

.additionally {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &__header {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headliner {
        font: bold 11px 'Lato', sans-serif;
        text-transform: uppercase;
        color: $content;
    }

    &__shape {
        width: 100%;
        height: 1px;
        background: $screens;
        margin-left: 15px;
    }

    &__form-link {
        width: 95%;
        margin: 25px 0;
        display: flex;
        align-items: center;
    }

    &__form-link svg {
        cursor: pointer;
    }

    &__feedback-link {
        font: 500 11px 'Lato', sans-serif;
        text-transform: uppercase;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
        color: $caption;
        display: flex;
        align-items: center;
    }

    &__feedback {
        margin-left: 10px;
    }
}

@media (min-width: 500px) {
    .cover-active {

        &__search-logo {
            left: 10.7%;
        }

        &__close-button {
            right: 2%;
        }

        &__form {
            width: 70%;
            position: relative;
            text-align: right;
        }
    
        &__logo-desktop {
            display: flex;
            align-items: flex-end;
            cursor: pointer;
        }
    }
}

@media (min-width: 550px) {
    .cover-active {

        &__header {
            display: flex;
            justify-content: center;
        }
    }

    .categories__header {
        display: none;
    }

    .categories__icons {
        justify-content: flex-start;
        padding-left: 50px;
    }

    .additionally__form-link {
        margin-left: 40px;
    }
}

@media(min-width: 720px) {
    .cover-active {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__body {
            width: 580px;
        }
    }

    .cover-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1100px) {
    .cover-active {

        &__form {
            width: 900px;
            text-align: right;
        }
    }
}