.dont-lose {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 36px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px lightgrey;
    min-height: 50px;

    &__icon {
        width: 100%;
    }

    &__text {
        width: 100%;
    }

    &__headliner {
        font: 500 20px 'Lato', sans-serif;
        margin-block-start: .5em;
        margin-block-end: 0;
    }

    &__description {
        margin-block-start: .3em;
        margin-block-end: 25px;
        text-align: left;
        font: normal 16px 'Lato', sans-serif;
        color: $content;
    }

    &__form {
        width: 100%;
    }

    &__input {
        width: 100%;
        margin-bottom: 25px;
    }

    &__button {
        background: none;
        border: 1px solid $content;
        border-radius: 6px;
        font: normal 16px 'Lato', sans-serif;
        padding: 8px 16px;
    }
}

@media(min-width: 720px) {
    .dont-lose {
        width: 580px;

        &__form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__input {
            margin: 0;
            width: 77%;
            margin-right: 15px;
        }

        &__button {
            padding: 7px 16px;
        }
    }
}