.feedback {
    width: 90%;
    background-color: $background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    box-shadow: 0px 0px 10px lightgrey;

    &__icon {
        margin-top: 20px;
    }

    &__headliner {
        font: 500 20px 'Lato', sans-serif;
        margin-block-start: 1.3em;
        margin-block-end: 1.5em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__input:not(textarea) {
        margin-bottom: 13px;
    }

    &__submit-container {
        width: 90%;
    }

    &__submit {
        width: 109px;
        background: none;
        border: 1px solid $content;
        border-radius: 4px;
        font: normal 16px 'Lato', sans-serif;
        margin: 20px 0 30px 0;
        padding: 8px 0;
    }
}

textarea {
    width: 90%;
    height: 209px;
    min-height: 36px;
    background: rgba(142, 142, 147, 0.1);
    color: $caption;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font: bold 11px 'Lato', sans-serif;
    outline: none;
    box-sizing: border-box;
    padding: 10px 10px 4px 10px;
    resize: none;
}

textarea:focus {
    border: 1px solid $content;
    background: rgba(142, 142, 147, 0.12);
}

@media (min-width: 720px) {
    .feedback {
        width: 580px;
    }
}