.give-away {
    width: 90%;
    box-shadow: 0px 0px 10px lightgrey;
    margin: 36px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        width: 90%;
        height: 60px;
        display: flex;
        align-items: center;
    }

    &__header-headliner {
        margin-block-start: 0;
        margin-block-end: 0;
        text-transform: uppercase;
        font: bold 11px 'Lato', sans-serif;
    }

    &__logo-container {
        width: 100%;
        height: 189px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__logo {
        position: absolute;
    }

    &__logo-desktop {
        display: none;
    }

    &__text {
        width: 90%;
    }

    &__headliner {
        font: 500 16px 'Lato', sans-serif;
        margin-block-start: .5em;
        margin-block-end: 0;
    }

    &__description, &__subheadliner {
        margin-block-start: .3em;
        margin-block-end: 25px;
        text-align: left;
        font: normal 16px 'Lato', sans-serif;
        color: $content;
    }

    &__form {
        width: 90%;
    }

    &__input {
        width: 100%;
        margin-bottom: 15px;
    }

    &__input:last-of-type {
        margin-bottom: 20px;
    }

    &__button {
        background: none;
        border: 1px solid $content;
        border-radius: 6px;
        font: normal 16px 'Lato', sans-serif;
        padding: 8px 16px;
        margin-bottom: 30px;
    }
}

@media(min-width: 550px) {
    .give-away__logo-container {
        height: 220px;
    }
}

@media(min-width: 600px) {
    .give-away__logo-container {
        height: 240px;
    }
}

@media(min-width: 650px) {
    .give-away__logo-container {
        height: 260px;
    }
}

@media (min-width: 720px) {
    .give-away {
        align-items: flex-start;
        width: 580px;

        &__logo-container {
            height: auto;
        }

        &__header, &__logo, canvas {
            display: none;
        }

        &__logo-desktop {
            display: block;
            width: 100%;
        }

        &__text, &__form {
            width: 55%;
            padding-left: 15px;
        }

        &__headliner, &__subheadliner, &__description {
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }
    }
}