@import './variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $screens;
    padding: 10px 17px;
    height: 50px;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        position: relative;
    }

    &__city-container {
        display: flex;
        flex-direction: column;
        margin-right: 7px;
        font: 11px 'Lato', sans-serif;
        text-transform: uppercase;
    }

    &__city-container span:first-child {
        color: $content;
        margin-bottom: 2px;
        cursor: pointer;
    }

    &__city {
        line-height: 1;
        cursor: pointer;
    }

    &__search-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__search-field {
        font: bold 11px 'Lato', 'sans-serif';
        width: 0;
        border: none;
        text-transform: uppercase;
        opacity: 0.8;
    }

    &__search-logo {
        cursor: pointer;
    }
}

.header div:last-child {
    display: flex;
}

@media(min-width: 720px) {
    .header {
        justify-content: center;
        padding: 10px 0;

        &__container {
            width: 85%;
        }
    }
}

@media(min-width: 850px) {
    .header__container {
        width: 83%;
    }
}

@media(min-width: 950px) {
    .header__container {
        width: 81%;
    }
}

@media(min-width: 1100px) {
    .header {
        justify-content: center;
        padding: 10px 0;

        &__container {
            width: 1000px;
        }
    }
}