input {
    width: 90%;
    min-height: 36px;
    background: rgba(142, 142, 147, 0.1);
    color: $caption;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font: bold 11px 'Lato', sans-serif;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}

input:focus {
    border: 1px solid $content;
    background: rgba(142, 142, 147, 0.12);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hint-container-active {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 250%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: $background;
        animation: showHintContainer .3s;
        animation-fill-mode: forwards;
    }

    &__hint {
        width: 90%;
        height: 0;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background-color: $background;
    }

    &__hint-active {
        width: 90%;
        height: 0;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background-color: $background;
        animation: showHintItem .3s;
        animation-fill-mode: forwards;
    }

    &__city {
        cursor: pointer;
        margin: 2px 0;
        font: normal 15px 'Lato', sans-serif;
    }
}

#input__hint-container {
    width: 100%;
    height: 0;
    position: absolute;
    top: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $background;
    animation: hideHintContainer .3s;
    animation-fill-mode: forwards;
}

#input__hint-container .input__hint {
    width: 90%;
    height: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: $background;
    animation: hideHintItem .3s;
    animation-fill-mode: forwards;
}

#input__hint-container .input__hint-container-hidden {
    display: none;
}