.is-true-location {
    width: 235px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px -5px 20px 3px grayscale($color: lightgrey);
    position: absolute;
    top: 45px;
    right: 8px;
    z-index: 49;
    background-color: $background;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: linear;

    &__rect {
        position: absolute;
        top: -8px;
        right: 20px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: $background;
    }

    &__question, &__link {
        font: bold 11px 'Lato', sans-serif;
        text-transform: uppercase;
    }

    &__link {
        color: $buttonAccept;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 3px;
    }
}

@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}