@mixin visibleModal {
    width: 90%;
    background-color: $background;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: showPopup .3s;
    animation-fill-mode: forwards;
}

@mixin hiddenModal {
    width: 90%;
    background-color: $background;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: hidePopup .5s;
    animation-fill-mode: forwards;
}

@mixin coverActive {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background;
    animation: showCover .3s ease-in;
    animation-fill-mode: forwards;
    left: 0;
    z-index: 1;
}

@mixin coverHidden {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $background;
    animation: hideCover .3s;
    animation-fill-mode: forwards;
    left: 0;
    z-index: 1;
}