@import './mixins';

.popup {
    @include visibleModal;

    &__icon {
        transform: translate(0, -50%);
    }

    &__headliner {
        margin-block-start: -25px;
        margin-block-end: 0;
        font: 500 20px 'Lato', sans-serif;
    }

    &__description {
        margin-block-start: .5em;
        margin-block-end: 0;
        text-align: center;
        width: 90%;
        font: normal 16px 'Lato', sans-serif;
        color: $content;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__input {
        margin-top: 15px;
    }

    &__arrow-container {
        height: 36px;
        width: 22px;
        position: absolute;
        top: 15px;
        right: 8%;
        cursor: pointer;
    }

    &__arrow {
        position: absolute;
        top: 37%;
        right: 8%;
        cursor: pointer;
        animation: rotateArrowDown .3s;
        animation-fill-mode: forwards;
    }

    &__arrow-up {
        position: absolute;
        top: 37%;
        right: 8%;
        cursor: pointer;
        animation: rotateArrowUp .3s;
        animation-fill-mode: forwards;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 25px 0 15px 0;
    }

    &__button {
        border: none;
        background: none;
        font: normal 16px 'Lato', sans-serif;
        outline: none;
        cursor: pointer;
    }

    &__accept {
        color: $buttonAccept;
    }

    &__decline {
        color: $buttonDecline;
    }

    &__disabled {
        color: $content;
    }
}

.popup-hidden {
    @include hiddenModal;
}

.popup-none {
    display: none;
}

.main__bg-layer {
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: $caption;
    opacity: .7;
}

.main__bg-layer-hidden {
    display: none;
}

@keyframes showPopup {
    from {
        top: -100%
    }

    to {
        top: 50%;
    }
}

@keyframes hidePopup {
    from {
        top: 50%;
    }

    to {
        top: -100%;
    }
}

@media (min-width: 360px) {
    .popup, .popup-hidden {
        width: 300px;
    }
}