.popup-share {
    width: 90%;
    background-color: $background;
    position: fixed;
    z-index: 49;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: showPopup .3s;
    animation-fill-mode: forwards;

    &__item {
        text-align: center;
        width: 100%;
        font: 500 16px 'Lato', sans-serif;
        line-height: 50px;
        border: none;
        cursor: pointer;
        background: none;
        text-decoration: none;
        outline: none;
        color: black;
    }

    &__item:not(:nth-child(5)) {
        border-bottom: 1px solid $screens;
    }
}

.popup-share-hidden {
    width: 90%;
    background-color: $background;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: hidePopup .5s;
    animation-fill-mode: forwards;
}

.popup-share-none {
    display: none;
}

@keyframes showPopup {
    from {
        top: -100%
    }

    to {
        top: 50%;
    }
}

@keyframes hidePopup {
    from {
        top: 50%;
    }

    to {
        top: -50%;
    }
}

@media (min-width: 360px) {
    .popup-share, .popup-share-hidden {
        width: 300px;
    }
}