.posts:first-of-type {
    margin-top: 36px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.post {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
    margin-bottom: 36px;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    &__header svg {
        cursor: pointer;
    }

    &__all-stocks {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__logo {
        margin-right: 10px;
        width: 36px;
    }

    &__company-container,
    .stocks__company-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__location-container {
        display: flex;
        align-items: center;
    }

    &__location-container svg {
        margin-right: 3px;
    }

    &__company,
    &__location,
    .stocks__company {
        text-transform: uppercase;
        line-height: 10px;
        font: bold 11px 'Lato', sans-serif;
        color: $caption;
    }

    &__location {
        color: $content;
        font-weight: normal;
    }

    &__video {
        width: 100%;
        cursor: pointer;
    }

    &__text {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__headliner {
        margin-block-start: 0;
        font: normal 16px 'Lato', sans-serif;
    }

    &__subHeadliner,
    &__description {
        margin-block-start: 0;
        font: normal 16px 'Lato', sans-serif;
        color: $content;
    }

    &__more {
        color: $buttonAccept;
        cursor: pointer;
        margin-block-end: .7em;
        border-bottom: 1px solid $buttonAccept;
    }

    &__coupon {
        width: 220px;
        max-height: 0;
        background: none;
        border: 1px solid $content;
        border-radius: 4px;
        font: normal 16px 'Lato', sans-serif;
        margin: 0.7em 0 1em 0;
        padding: 8px 0;
        display: none;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    &__footer {
        border-top: 1px solid $screens;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 15px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110px;
    }

    &__icons svg {
        cursor: pointer;
    }

    &__icons svg:nth-child(2) {
        margin-bottom: 5px;
    }

    &__icons svg:nth-child(3) {
        margin-top: 5px;
    }

    &__share-container {
        display: flex;
        align-items: center;
    }

    &__share {
        color: $caption;
        cursor: pointer;
    }

    &__link {
        cursor: pointer;
    }
}

.stocks {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid $screens;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &__link-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__logo {
        width: 60px;
        margin-right: 13px;
    }

    &__more-stocks {
        color: $content;
        text-transform: uppercase;
        line-height: 10px;
        font: normal 11px 'Lato', sans-serif;
    }
}

@media(min-width: 720px) {
    .posts, .post {
        width: 580px;
    }
}