.company {
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        align-items: center;
        width: 90%;
    }

    &__logo {
        width: 85px;
        margin: 0 13px;
    }

    &__name {
        font: 500 20px 'Lato', sans-serif;
    }

    &__arrow-back {
        cursor: pointer;
    }
}

@media(min-width: 700px) {
    .company {

        &__header {
            width: 580px;
        }
    }
}