.video-popup {
    display: none;
}

.video-popup__active {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%, -50%);
    animation: showPopup .3s;
    animation-fill-mode: forwards;
    background: none;

    &__close {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: -50px;
    }

    &__video, &__cover {
        display: block;
        width: 100%;
    }

    &__video {
        margin-bottom: 20px;
    }
}

.video-popup__hidden {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%, -50%);
    animation: hideVideo .3s;
    animation-fill-mode: forwards;
}

.video-popup__hidden .video-popup__active__close {
    display: none;
}

@keyframes hideVideo {
    from {
        top: 50%;
    }

    to {
        top: -100%;
        visibility: hidden;
    }
}