@import './header';
@import './main';
@import './post';
@import './fonts';
@import './logo';
@import './cover';
@import './popup';
@import './popup-share';
@import './input';
@import './feedback';
@import './post-all-ctocks';
@import './variables';
@import './mixins';
@import './animation';
@import './dont-lose';
@import './give-away';
@import './canvas';
@import './is-true-location';
@import './video-popup';

body {
    display: flex;
    justify-content: center;
}

#root {
    width: 1000%;
}

.App {
    width: 100%;
}

pre {
    margin: 0;
}

button {
    outline: none;
    cursor: pointer;
}